# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Based on .gitignore
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
npm-debug.log*
/.changelog
.npm/
