.back > button {
	border: 0;
	background: transparent;
	color: currentColor;
	font-size: .5em;
	cursor: pointer;
	font-family: inherit;
}

.back > button > svg {
	transform: translateX(0);
	transition: transform 200ms linear;
}

.back > button:hover > svg {
	transform: translateX(-5px);
}

.back__text {
	margin-left: .4em;
}