.board__cell-content {
	backface-visibility: hidden;
	/*transition: transform 2000ms ease-out;*/
	position: absolute;
	border: 2px solid var(--color-border-cell);
	border-radius: 10px;
}

.board__cell-wrapper {
	position: relative;
	perspective: 25rem;
	-moz-perspective: 25rem;
}

.board__cell {
	transform: scale(.3);
	opacity: 0;
	transition: transform .3s;
}

.board__cell--small {
	width: var(--cell-size);
	height: var(--cell-size);
}

.board__cell--large {
	width: var(--cell-size-10);
	height: var(--cell-size-10);
	border-radius: 5px;
}

.board__cell--backface {
	/* opacity: 0; */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: rotateY(180deg);
}

.board__cell.show {
	transform: scale(1);
	opacity: 1;
}

.board__cell.o::after,
.board__cell--backface.o::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.board__cell--small.o::after,
.board__cell--backface--small.o::after {
	width: calc(var(--cell-size) * 0.75);
	height: calc(var(--cell-size) * 0.75);
	border: 10px solid var(--color-player);
}

.board__cell--large.o::after,
.board__cell--backface--large.o::after {
	width: calc(var(--cell-size-10) * 0.75);
	height: calc(var(--cell-size-10) * 0.75);
	border: 5px solid var(--color-player);
}

.board__cell.current_o:not(.x):not(.o):hover::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.board__cell--small.current_o:not(.x):not(.o):hover::after {
	width: calc(var(--cell-size) * 0.75);
	height: calc(var(--cell-size) * 0.75);
	border: 10px solid var(--color-border-cell);
}

.board__cell.x::after,
.board__cell.x::before,
.board__cell--backface.x::after,
.board__cell--backface.x::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: var(--color-player);
}

.board__cell.x::before,
.board__cell--backface.x::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.board__cell.x::after,
.board__cell--backface.x::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.board__cell--small.x::after,
.board__cell--small.x::before,
.board__cell--backface--small.x::before ,
.board__cell--backface--small.x::after   {
	width: calc(var(--cell-size) * 0.75);
	height: 10px;
}

.board__cell--large.x::after,
.board__cell--large.x::before,
.board__cell--backface--large.x::before ,
.board__cell--backface--large.x::after   {
	width: calc(var(--cell-size-10) * 0.75);
	height: 5px;
}

.board__cell.current_x:not(.x):not(.o):hover::after,
.board__cell.current_x:not(.x):not(.o):hover::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: var(--color-border-cell);
}

.board__cell--small.current_x:not(.x):not(.o):hover::after,
.board__cell--small.current_x:not(.x):not(.o):hover::before {
	width: calc(var(--cell-size) * 0.75);
	height: 10px;
}

.board__cell--large.current_x:not(.x):not(.o):hover::after,
.board__cell--large.current_x:not(.x):not(.o):hover::before {
	width: calc(var(--cell-size-10) * 0.75);
	height: 5px;
}

.board__cell.current_x:not(.x):not(.o):hover::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.board__cell.current_x:not(.x):not(.o):hover::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}