*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cell-size: 6rem; /* 3 x 3 */
  --cell-size-10: 3rem;

  --color-background: #e9cd50;
  --color-background-grey: #a9b3b5;

  --color-player-o: #53b5b0;
  --color-player-x: #e56b7a;
  --color-player: #eee;
  --color-player-grey: #a9b3b5;

  --color-border-cell: #5d4c03;
  --color-border-cell-grey: #4a5456;
  --color-border-cell-border-grey: #5f696b;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app-container--color {
  background: var(--color-background);
}

.app-container--grey {
  background: var(--color-background-grey);
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  display: none;
}

@supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .7);
  }
}

.modal.show {
  display: grid;
  place-items: center;
}

.modal__message {
  background: #fff;
  font-size: 4rem;
  padding: .5em 1em;
  text-transform: uppercase;
  border-radius: 0 7px 0 7px;
}

.board {
  display: grid;
  cursor: url(images/pencil.svg), auto;
}

.board_3 {
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  grid-gap: .5rem;
}

.app-container--grey .board_3 {
  grid-gap: 1rem;
}

.board_10 {
  grid-template-columns: repeat(10, var(--cell-size-10));
  grid-template-rows: repeat(10, var(--cell-size-10));
  grid-gap: .3rem;
}

.board__cell {
  transform: scale(.3);
  opacity: 0;
  transition: transform .3s;
  position: relative;
  border: 2px solid var(--color-border-cell);
  border-radius: 10px;
}

.app-container--grey .board__cell {
  border: none;
  border-radius: 0;
  background: var(--color-border-cell-grey);
  box-shadow: -8px -8px 0 inset var(--color-border-cell-border-grey),
              8px 8px 0 inset var(--color-border-cell-border-grey);
}

.board__cell--small {
  width: var(--cell-size);
  height: var(--cell-size);
}

.board__cell--large {
  width: var(--cell-size-10);
  height: var(--cell-size-10);
}

.board__cell.show {
  transform: scale(1);
  opacity: 1;
}

.app-container--color .board__cell.o {
  background: var(--color-player-o);
  border: transparent;
}

.board__cell.o::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.board__cell--small.o::after {
  width: calc(var(--cell-size) * 0.75);
  height: calc(var(--cell-size) * 0.75);
  border: 10px solid var(--color-player);
}

.board__cell--large.o::after {
  width: calc(var(--cell-size-10) * 0.75);
  height: calc(var(--cell-size-10) * 0.75);
  border: 5px solid var(--color-player);
}

.app-container--grey .board__cell.o::after {
  border-color: var(--color-player-grey);
}

.board__cell.current_o:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.board__cell--small.current_o:not(.x):not(.o):hover::after {
  width: calc(var(--cell-size) * 0.75);
  height: calc(var(--cell-size) * 0.75);
  border: 10px solid var(--color-border-cell);
}

.board__cell--large.current_o:not(.x):not(.o):hover::after {
  width: calc(var(--cell-size-10) * 0.75);
  height: calc(var(--cell-size-10) * 0.75);
  border: 5px solid var(--color-border-cell);
}

.app-container--color .board__cell.x {
  background: var(--color-player-x);
  border: none;
}

.board__cell.x::after,
.board__cell.x::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-player);
}

.app-container--grey .board__cell.x::after,
.app-container--grey .board__cell.x::before {
  background-color: var(--color-player-grey);
}

.board__cell--small.x::after,
.board__cell--small.x::before  {
  width: calc(var(--cell-size) * 0.75);
  height: 10px;
}

.board__cell--large.x::after,
.board__cell--large.x::before  {
  width: calc(var(--cell-size-10) * 0.75);
  height: 5px;
}

.board__cell.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.board__cell.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.board__cell.current_x:not(.x):not(.o):hover::after,
.board__cell.current_x:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--color-border-cell);
}

.board__cell--small.current_x:not(.x):not(.o):hover::after,
.board__cell--small.current_x:not(.x):not(.o):hover::before {
  width: calc(var(--cell-size) * 0.75);
  height: 10px;
}

.board__cell--large.current_x:not(.x):not(.o):hover::after,
.board__cell--large.current_x:not(.x):not(.o):hover::before {
  width: calc(var(--cell-size-10) * 0.75);
  height: 5px;
}

.board__cell.current_x:not(.x):not(.o):hover::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.board__cell.current_x:not(.x):not(.o):hover::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}