*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cell-size: 2rem;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.board {
  display: grid;
}

.board_3 {
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
}

.board_10 {
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
}

.board__cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #000;
  transform: scale(.3);
  opacity: 0;
  transition: transform .3s;
}

.board__cell.show {
  transform: scale(1);
  opacity: 1;
}